.filter-bar {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(99, 98, 98, 0.2);
    justify-content: space-around;
    font-size: 16px;
    span {
      margin-right: 10px;
      font-weight: bold;
    }
    .filter-btn {
      background-color: #ffffff;
      border: none;
      padding: 5px 10px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 5px;
      transition: color 0.3s ease;
      font-weight: 500;
      font-size: 15px;
      &.active {
       color: #007bff;
      }
      span {
        margin-left: 5px;
      }
    }
}
