.flight-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(99, 98, 98, 0.2);
  transition: transform 0.2s;
  .flight-details-link {
    color: #1a73e8;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }
  .refund{
    color: #626e93;
  }
  .dropdown-icon {
    font-size: 16px;
    color: #1a73e8;
    transform: rotate(-90deg);
  }
  .detailed{
    display: flex;
    justify-content: space-between;
  }
  .duration{
    position: relative;
    top: -4px;
  }
  .book-btn{
    position: relative;
    top: -0.7rem;
  }
  &:hover {
    transform: scale(1.01);
  }
  .airline {
    display: flex;
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 2rem;
    align-items: center;
    .airline-img{
      height: 7.5vh;
      margin-right: 1vw ;
    }
  }
  .flight-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .book-button {
      background-color: #ff6600;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
    .flight-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 92%;
      .departure-info, .arrival-info, .duration {
        display: flex;
        flex-direction: column;
        margin-top: -2rem;
      }
      .location {
        font-size: 16px;
        font-weight: 400;
        .code{
          font-weight: 600;
        }
      }
      .time {
        font-size: 21px;
        color: #555;
        font-weight:600;
      }
      .duration {
        margin: 0 20px;
        font-size: 18px;
        color: #777;
        font-weight: 600;
      }
    }
    .price-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .price {
        font-size: 24px;
        font-weight: 600;
      }
      .emi-info {
        font-size: 12px;
        .emi-price{
          font-weight: 700;
          font-size: 14px;
        }
      }
    }
  }
}
